@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-small-regular: Inter;

  /* font sizes */
  --body-small-regular-size: 14px;

  /* Colors */
  --background-primary: #fff;
  --stroke-primary: #f4f5f6;
  --text-secondary: #4e616b;
  --text-primary: #000;
  --stroke-state-success-subtle: #7cdd56;

  /* Spacing */
  --space-100: 8px;
  --space-150: 12px;
  --space-200: 16px;
  --radus-100: 8px;
  --space-300: 24px;
  --space-050: 4px;

  /* Gaps */
  --gap-9xs: 4px;

  /* Paddings */
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-lgi: 19px;
  --padding-xl: 20px;
  --padding-lg: 18px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-109xl: 128px;
  --br-21xl: 40px;

  /* Effects */
  --shadow-l: 0px 8px 12px -2px rgba(0, 0, 0, 0.08),
    0px 2px 6px -2px rgba(0, 0, 0, 0.06);
}
